form .error, form .error-message {
    color: rgb(158, 36, 36);
    box-shadow: none;
    text-shadow: none;
}
form .error {
    background: none repeat scroll 0% 0% rgb(255, 218, 204);
    border-radius: 4px 4px 4px 4px;
    font-weight: normal;
}